*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Ramillas";
    src:
        url(../fonts/tt_ramillas/TT\ Ramillas\ Trial\ Black\ Outline.ttf)
  }
/* all css */
.container{
    width: 95cqw;
    margin: 0 auto;
}
.sub-tittle {
    background-color: rgba(0,0,0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1cqw;
    width: 60cqw;
    text-align: center;
    line-height: 5cqh;
    position: relative;
    z-index: 15;

    border-radius: 2cqw;
    padding: 1cqw;
    color: white;
    top: 7cqh;
}
.black-text{
    font-size: 2cqw;
    font-family: 'Montserrat', sans-serif;
    padding-right: 5cqw;

}
.main{
    height: 100vh;
    width: 100vw;
}
.main-bg{
    position: absolute;
    top: 0;
}
.main-cover{
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    z-index: 11;
    width: inherit;
    height: inherit;
}
.cancelBtn img{
    background-color: white;
    padding: 5px;
    border-radius: 1cqw;
}
.lang-modal{
    position: absolute;
    top: 5vh;
    z-index: 20;
    right: -25cqw;
    background-color: rgba(0,0,0, 0.75);
    width: 23cqw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 1cqw;
    transition: all ease 0.7s;
}
.modal-active{
    transition: all ease 0.7s;
    right: 5cqw;
}
.lang-modal ul{
    padding: 0 2cqw 2cqw;
}
.lang-modal li{
    list-style: none;
    border-bottom: 1px solid white;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
    cursor: pointer;
}
.cancelBtn{
    border-bottom: unset !important;
    padding-bottom: unset !important;
    text-align: end;
}
.language{
    color: white;
    font-size: 2cqw;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1.5cqw;
}
.lang-modal img{
    width: 2cqw;
}
.lang-btn{
    cursor: pointer;
}
.lang-btn img{
    width: 3.5cqw;
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    z-index: 15;
    padding: 5px;
    border-radius: 1cqw;
    right: 5cqw;
    top: 5cqh;
    transition: all ease 0.7s;
}
.lang-hide img{
    top: -10cqh;
    transition: all ease 0.7s;
}

.main-logo{
    position: relative;
    z-index: 15;
}
.main-logo img{
    width: 60cqh;
}
.main-item{
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main .main-bg img{
    width: 100vw;
    height: 100vh;
}
.logo{
    width: 30cqw;
    color: white;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.15);
    height: 50cqh;
    margin-bottom: 5cqh;
    border-radius: 5cqw;
}
.logo span{
    font-family: "Montserrat", sans-serif;
    font-size: 10cqw !important;
}
.arrow{
    color: blueviolet;
}

.unlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 97cqw;
    position: absolute;
    overflow: hidden;
}
.u-description{
    max-width: 55cqw;
}
.u-description .tittle{
    color: blueviolet;
    font-size: 3cqw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: 5cqh;
}
.u-description .tittle h1{
    font-weight: 400;
}
.u-description .tittle bold{
    font-weight: 700;
}
.u-image{
    position: absolute;
    right: -5cqw;
}
.u-image img{
    border-radius: 25cqw 25cqw 0 0;
    width: 50cqw;
}
/* choose */

.tittle-bg{
    color: white;
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;
    width: 50cqw;
    font-size: 3cqh;
    position: relative;
    left: -3cqw;
    padding: 1cqw 3cqw;
}
.choose{
    background-color: black;
}
.choose .container{
    position: relative;
}
.c-item{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    width: auto;
}
.choose .sub-tittle{
    top: 0;
}
.c-left, .c-right{
    position: relative;
}
.text-wrapper{
    display: flex;
    position: relative;
}
.c-left .text-wrapper{
    display: flex;
    align-items: end;
    position: relative;
    top: 5cqh;
    line-height: 4cqh;
}
.c-right{
    height: 100vh;
}
.c-right .text-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 4cqh;
    height: inherit;
    bottom: 5cqh;
}
.text-item .sub-tittle{
    width: 30cqw;
    text-align: left;
    letter-spacing: unset;
    background-color: unset;
    border: unset;
    padding: unset;
}
.chooseNumber{
    font-family: "Ramillas";
    font-size: 15cqh;
    color: blueviolet;
    position: absolute;
    bottom: -7cqh;
    z-index: -1;
}
.choose .four{
    bottom: -11cqh;
}
.text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 30cqw;
    font-size: 1.2cqw;
}
.text-item{
    margin: 0 1cqw;
}
/* advantages */
.advantages{
    position: relative;
}
.advantages .tittle-bg{
    bottom: unset;
    top: 10cqh;
}
.a-item{
    position: absolute;
    height: -webkit-fill-available;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: inherit;
}
.a-image img{
    width: 12cqh;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 1cqw;
}
.a-tittle{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5cqh;
    width: 18cqw;
}
.a-elements{
    width: 45cqw;
    background-color: rgba(0,0,0, 0.4);
    padding: 1cqw;
    border-radius: 1cqw;
    border: 1px solid white;
    margin-bottom: 5cqh;
    min-height: 55vh;
    top: 5cqh;
    position: relative;
}
.a-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5cqh;
    color: white;
}

/* join network */
.top-item{
    font-family: 'Montserrat', sans-serif;

    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 1vh 0;
    border: 2px solid white;
}
.members{
    display: flex;
    width: 95cqw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5cqh auto 0;
}
.member{
    display: inherit;
    margin: 0px 1cqw;
}
.memberImg img{
    width: 15cqw;
}
.aboutMember{
    display: inherit;
    flex-direction: column;
    justify-content: center;
}
.join-description{
    font-family: 'Montserrat', sans-serif;
    color: blueviolet;
    font-size: 3cqw;
    width: 84cqw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}
.contact-us{
    position: relative;
}
.contact-us .tittle{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: white;
    z-index: 15;
    width: 45cqw;
    font-size: 5cqh;
    top: 45cqh;
}
.info-block{
    position: relative;
    color: white;
    z-index: 15;
    top: 42cqh;
}
.contact-tittle{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5cqw;
    width: fit-content;
    padding-left: 5cqh;
    letter-spacing: 1cqw;

}
.contact-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 35cqw;
}
.member-item span{
    line-height: 4cqh;
    display: block;
    letter-spacing: 0.5cqw;
}
.member-contact{
    display: none;
}
.question{
    margin: 0 0 5cqh;
    font-family: 'Montserrat', sans-serif;
    width: -webkit-fill-available;
    height: min-content;
}
.question-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.question-number{
    font-family: Ramillas;
    color: blueviolet;
    width: 10cqw;
    display: inherit;
    justify-content: end;
    margin-top: 5cqh;
    font-size: 5cqw;
}
.question-item{
    display: inline-block;
    width: 50cqw;
    margin-right: 10cqw;
}
@media only screen and (min-width: 900px) {
    .main {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}
@media only screen and (max-width: 980px) {
    .logo {
        width: 35cqw;
        height: 43cqh;
    }
    .a-description {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5cqh;
        color: white;
    }
    .chooseNumber{
        left: -3cqw;
    }
    .choose .one {
        bottom: -1cqh;
    }
    .advantages .tittle-bg {
        width: 60cqw;
    }
}

@media only screen and (max-width: 600px) {
    .logo{
        width: 50cqw;
        color: white;
        font-size: 0;
        text-align: center;
        height: 25cqh;
        position: relative;
        bottom: 10cqh;
    }
    .logo span{
        display: inline-block;
        font-size: 15cqw !important; 
    }
    .arrow{
        position: relative;
        display: inline-block;
        color: blueviolet;
        font-size: 15cqw;
    }
    .mainBlock{
        background-color: black;
    }
    .lang-btn img {
        width: 10cqw;
    }
    .lang-modal img {
        width: 8cqw;
    }
    .lang-modal {
        width: 50cqw;
        right: -50cqw;
    }
    .language {
        font-size: 5cqw;
    }
    .modal-active {
        right: 10cqw;
    }
    .main-logo img {
        max-width: 100vw;
    }
    .main .main-bg img {
        width: 100vw;
        object-fit: cover;
    }
    .sub-tittle{
        width: 80cqw;
        font-size: 2cqh;
        position: absolute;
        bottom: 13vh;
        background-color: rgba(0,0,0, 0.3);
        border: 1px solid white;
        line-height: 4cqh;
        top: unset;
    }
    .unlock{
        /* flex-direction: column-reverse;
        left: 0;
        width: -webkit-fill-available; */
        flex-direction: column;
        justify-content: flex-start;
        left: 0;
        width: -webkit-fill-available;
    }
    
    .u-description {
        /* display: inherit;
        flex-direction: column;
        height: inherit;
        min-width: 90cqw; */
        display: inherit;
        flex-direction: column;
        height: auto;
        max-height: 68cqh;
        min-width: 95cqw;
    }
    .u-image{
        /* right: 3cqw;
        bottom: 5cqh; */
        display: inherit;
        position: relative;
        width: inherit;
        justify-content: end;
        margin: auto 0;
    }
    .u-image img {
        /* width: 75cqw; */
        /* width: 43cqh; */
        width: 48cqh;
        max-width: 90cqw;
    }
    .black-text {
        /* font-size: 5cqw;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 8cqh;
        line-height: 5cqh; */
        font-size: 5cqw;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: 8cqh;
        width: 100cqw;
        line-height: 4cqh;
        margin-bottom: 10cqh;
    }
    .u-description .tittle {
        bottom: unset;
        width: 90cqw;
        top: 5cqh;
        font-size: 2.2cqh;
    }
    .u-description .tittle h1{
        margin-top: 0;
    }
    .choose{
        height: fit-content;
    }
    .choose .sub-tittle{
        position: relative;
        bottom: 0;
    }
    .choose .tittle-bg {      
        position: relative;
        font-size: 1.5cqh;
        top: 2vh;
        width: fit-content;
        margin: 4cqh 0;
    }
    .a-item{
        display: block;
        position: absolute;
        height: auto;
        bottom: 8cqh;
    }
    .a-elements {
        width: 95cqw;
        margin-bottom: 3cqh;
        min-height: 32vh;
   
    }
    .c-item {
        flex-direction: column;
        height: unset;

    }
    .c-left .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        top: 0;
    }
    .text-item .sub-tittle {
        font-size: 1.5cqh;
        line-height: 3cqh;
        width: 85cqw;
    }
    .chooseNumber{
        font-size: 8cqh;
        left: unset;
        right: -4cqw;
        bottom: -5cqh;
    }
    .choose .four {
        bottom: -6cqh;
    }
    .text {
        font-size: 2cqh;
        line-height: 3cqh;
        width: 90cqw;
    }
    .c-right {
        height: unset;
        margin-top: 4cqh;
    }
    .a-tittle {
        font-size: 2cqh;
        width: 50cqw;
    }
    .a-image img {
        width: 8cqh;
    }
    .a-description {
        font-size: 2.2cqh;
    }
    .advantages .tittle-bg {
        top: 8cqh;
        font-size: 1.5cqh;
        width: fit-content;
    }
    .advantages .main-bg img {
        width: 100vw;
        max-height: unset;
        height: 100vh;
        background-size: auto;
    }
    .top-item {
        font-size: 2cqh;
    }
    .join-description {
        font-size: 6cqw;
    }
    .contact-us{
        background-color: black;
    }
    .contact-us .tittle {
        font-size: 2.5cqh;
        width: 50cqw;
        top: initial;
        bottom: 28cqh;
        position: absolute;
    }
    .contact-us .tittle h1{
        font-weight: 400;
    }
    .contact-us .main-bg img{
        object-position: left;
    }
    .contact-us .info-block {
        top: initial;
        position: absolute;
        bottom: 15cqh;
        padding: 1cqw;
    }
    .contact-wrapper {
        width: 60cqw;
    }
    .contact-tittle{
        padding-left: unset;
        font-size: 4cqh;
        text-transform: uppercase;
    }
    .contact-tittle h3{
        font-weight: 400;
        margin: 2cqh 0 0;
        letter-spacing: 0;
    }
    .member-contact{
        align-items: center;
        display: none;
    }
    .question{
        font-size: 2cqh;
    }
    .question-item {
        width: 75cqw;
        margin-right: 5cqw;

    }
    .question-number{
        font-size: 10cqw;
    }
}
