*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* all css */
.container{
    width: 95cqw;
    margin: 0 auto;
}
.sub-tittle {
    background-color: rgba(0,0,0, 0.3);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1cqw;
    width: 60cqw;
    text-align: center;
    line-height: 5cqh;
    position: relative;
    z-index: 15;
    /* font-weight: Light 300; */
    /* font-weight: 700; */
    border-radius: 2cqw;
    padding: 1cqw;
    color: white;
}
.black-text{
    font-size: 2cqw;
    font-family: 'Montserrat', sans-serif;

}
.main{
    height: 100vh;
    width: 100vw;
}
.main-bg{
    position: absolute;
    top: 0;
}
.main-cover{
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    z-index: 11;
    width: inherit;
    height: inherit;
}
.main-logo{
    position: relative;
    z-index: 15;
}
.main-logo img{
    width: 60cqh;
}
.main-item{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.main .main-bg img{
    width: 100vw;
    height: 100vh;
}
/* .main .main-logo img{
    /* position: absolute;
    top: 0; */
/* UNLOCK */

.unlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: -webkit-fill-available;
    position: absolute;
    overflow: hidden;
}
.u-description{
    max-width: 55cqw;
}
.u-description .tittle{
    color: blueviolet;
    font-size: 3cqw;
    font-family: 'Montserrat', sans-serif;


    position: relative;
    bottom: 5cqh;
}
.u-image{
    position: absolute;
    right: -5cqw;
}
.u-image img{
    border-radius: 25cqw 25cqw 0 0;
    width: 45cqw;
}
/* choose */

.tittle-bg{
    color: white;
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;
    width: 50cqw;
    font-size: 3cqh;
    position: relative;
    left: -3cqw;
   
    padding: 1cqw 3cqw;
}
.choose{
    background-color: black;
}
.choose .container{
    position: relative;
}
.c-item{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    width: auto;

}
.c-left, .c-right{
    position: relative;
}
.text-wrapper{
    display: flex;
    position: relative;
}
.c-left .text-wrapper{
    display: flex;
    align-items: end;
    position: relative;
    top: 5cqh;
    line-height: 4cqh;
}
.c-right{
    height: 100vh;
}
.c-right .text-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 4cqh;
    height: inherit;
    bottom: 5cqh;

}
.text-item .sub-tittle{
    width: 30cqw;
    text-align: left;
    letter-spacing: unset;
    background-color: unset;
    border: unset;
    padding: unset;
}
.text{
    font-family: 'Montserrat', sans-serif;

    color: white;
    width: 30cqw;
    font-size: 1.5cqw;
}
.text-item{
    margin: 0 1cqw;
}
/* advantages */
.advantages{
    position: relative;
}
.advantages .tittle-bg{
    bottom: unset;
    top: 10cqh;
}

.a-item{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 80cqh;
    align-items: end;
}
.a-image img{
    width: 12cqh;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 1cqw;
}
.a-tittle{
    font-family: 'Montserrat', sans-serif;

    color: white;
    font-size: 2.5cqh;
    width: 18cqw;
}
.a-elements{
    width: 40cqw;
    background-color: rgba(0,0,0, 0.4);
    padding: 1cqw;
    border-radius: 1cqw;
    border: 1px solid white;
    margin-bottom: 5cqh;
}
.a-description{
    font-family: 'Montserrat', sans-serif;

    font-size: 3cqh;
    color: white;
}

/* join network */
.top-item{
    font-family: 'Montserrat', sans-serif;

    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 1vh 0;
    border: 2px solid white;
}
.members{
    display: flex;
    width: 95cqw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5cqh auto 0;
}
.member{
    display: inherit;
    margin: 0px 1cqw;
    /* justify-content: space-between; */
}
.memberImg img{
    width: 15cqw;

}
.aboutMember{
    display: inherit;
    flex-direction: column;
    justify-content: center;
}
.join-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 3cqw;
    width: 84cqw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

.contact-us{
    position: relative;
}
.contact-us .tittle{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: white;
    z-index: 15;
    width: 45cqw;
    font-size: 5cqh;
    top: 50cqh;
}
.info-block{
    position: relative;
    color: white;
    z-index: 15;
    top: 47cqh;
}
.contact-tittle{
    font-family: 'Montserrat', sans-serif;

    font-size: 2.5cqw;
    width: fit-content;
    padding-left: 5cqh;
    letter-spacing: 1cqw;

}
.contact-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 35cqw;
    /* /* padding-left: 3cqw; */
}
.member-item span{
    line-height: 4cqh;
    display: block;
}
.question{
    margin: 5cqh 0;
    font-family: 'Montserrat', sans-serif;

    width: -webkit-fill-available;
}
.question-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.question-number{
    color: blueviolet;
    width: 10cqw;
    display: inherit;
    justify-content: end;
    margin-top: 5cqh;
    font-size: 5cqw;
}
.question-item{
    display: inline-block;
    width: 50cqw;
    margin-right: 10cqw;
}
@media only screen and (max-width: 600px) {
    .main-logo img {
        max-width: 100vw;
    }
    .main .main-bg img {
        width: 100vw;
        max-height: 70cqh;
        background-size: auto;
    }
    .sub-tittle{
        width: 80cqw;
        font-size: 2cqh;
        top: 4cqh;
    }
    .u-description {
        display: inherit;
        flex-direction: column;
        height: inherit;
        justify-content: space-evenly;
    }
    .black-text {
        font-size: 4cqw;
        font-family: 'Montserrat', sans-serif;
    }
    .u-description .tittle {
        bottom: 0cqh;
    }
    .choose{
        height: 125cqh;
    }
    .tittle-bg {      
        position: relative;
        font-size: 1.5cqh;
        top: 2vh;
        width: fit-content;
    }
    .c-item {
        flex-direction: column;

    }
    .c-left .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        top: 0;
    }
    .text-item .sub-tittle {
        font-size: 1.5cqh;
        line-height: 3cqh;
        width: 65cqw;
    }
    .text {
        padding-top: 2cqh;
        font-size: 2cqh;
        line-height: 3cqh;
        width: 90cqw;

    }
    .c-right {
        height: unset;
    }
    .a-tittle {
        font-size: 2cqh;
        width: 35cqw;
    }
    .a-image img {
        width: 8cqh;
    }

    .a-description {
        font-size: 2cqh;
    }
    .advantages .tittle-bg {
        top: 8cqh;
    }
    .advantages .main-bg img {
        width: 100vw;
        max-height: unset;
        height: 100cqh;
        background-size: auto;
    }
    .a-description {
        font-size: 2.5cqh;
    }
    .top-item {
        font-size: 2cqh;
    }
    .join-description {
        font-size: 7cqw;
    }
    .contact-us .tittle {
        font-size: 4cqh;
    }
    .info-block {
        top: 55cqh;
    }
    .contact-wrapper {
        width: 60cqw;
    }
    .question-item {
        width: 68cqw;
    }




}
